h1 {
    font-size: 25px;
    text-align: center;
    font-style: italic;
}

#paragraful-unu {
    color: yellow;
    font-size: 10px;
}

#paragraful-doi {
    color: yellow;
    font-size: 10px;
}

#paragraful-trei {
    color: yellow;
    font-size: 10px;
}